{% extends 'shablon.html' %}
{% load static %}

{% block title %}
История Кино
{% endblock %}

{% block aside %}

{% endblock %}

{% block body %}
    <div class="container">
        <div class="teni">
            <div class="content">
                <img src="{% static 'img/etete.jpg' %}" alt='Братья Люмьер'>
                <p>Охватить всю историю кинематографа – до мельчайших подробностей и нюансов – крайне трудно. И нет, мы и пытаться не будем. Но попробуем пройтись галопом по созданию и развитию одной из крупнейших современных индустрий. </p>
                <h3>Первый шаг</h3>
                <p>Подобно тому, как малыш изучает мир и его инструментарий – все, что поможет в будущем создавать и делать что-то, – люди сначала искали технические способы запечатлевать картинки, приводить их в движение и хранить на информационном носителе.
                    Путь был тернистым, и человечество прошло не один этап. Прежде чем в 1895 году братья Люмьер представили широкой публике и научному сообществу свое детище – синематограф, – были изобретены технологии фотофиксации, «волшебный фонарь» (нечто вроде советских диафильмов, где с помощью проектора крутились статичные кадры с подписями, а рассказчик их озвучивал) и проектор Иосифа Тимченко, который оценило научное сообщество, но финансирования так и не нашлось.
                    В 1891 году коллега Томаса Эдисона – Уильям Диксон – представил прототип кинетоскопа. Это устройство напоминало шкаф с отверстиями для глаз – сквозь них зритель мог увидеть пленочные кадры, которые прокручивались, создавая иллюзию движения. Недостатков у кинетоскопа было несколько: демонстрация коротких фильмов была возможна только для одного человека, кинетоскоп был чересчур громоздкий и требовал электричества для работы (то есть ни о какой портативности не шло речи). Тем не менее заработали кинетоскопические салоны – в них за деньги можно было посмотреть «фильмы» на индивидуальных (по-другому было просто невозможно) сеансах.
                    Наконец, в декабре 1895 года в «Индийском салоне Гранд-кафе» во Франции на бульваре Капуцинок состоялся первый коммерческий кинопоказ. Зрители увидели несколько черно-белых немых коротких роликов длительностью всего 45–50 секунд. До большого кино, конечно, еще далеко – но первый шаг уже сделан.
                </p>
                <h3>Первое слово</h3>
                <p>
                    Оставалось «всего ничего»: сделать фильмы цветными, добавить звук и увеличить хронометраж. Когда изобретали синематограф, уже существовала технология записи звука – фонограф. Правда, синхронизировать два устройства было трудно. Некоторое время делали вообще так: актеры присутствовали в зале во время показа фильма и озвучивали сами себя в реальном времени. Такое своего рода «иммерсивное» кино прошлого столетия.
                    Но все изменилось в 1927 году с выходом музыкального фильма «Певец джаза». Он был создан по технологии «Вайтафон», которая не подразумевала объединения изображения и звука на одном носителе. Реплики и песни записывали на грампластинку и включали параллельно с визуальным рядом.
                    «Подождите, подождите минутку! Вы еще ничего не слышали!» – вот первые слова звукового кино.
                    Что касается советского кино, то в 1934 году, пройдя несколько этапов, оно полностью перешло в звуковую эру. Хотя технологии в разных странах менялись и совершенствовались вплоть до 1980-х и появления двухдорожечной стереофонической оптической фонограммы, которую разработала лаборатория Dolby.
                </p>
                <h3>Основы монтажа и спецэффектов</h3>
                <p>
                    Кино – это магия, не правда ли? Вероятно, так решил и фокусник Жорж Мельес. Он был успешен, владел собственным театром и руководил другим театром. Кроме того, Мельес придумывал разнообразные фокусы.
                    Не сумев купить синематограф у братьев Люмьер прямо после первого коммерческого показа в 1895 году, Мельес приобрел аниматограф. Это устройство было создано Бертом Эйкрзом и Уильямом Полом и представляло собой подобие проектора. Переработав этот аппарат, фокусник стал снимать и показывать свои фильмы уже в 1896 году.
                    Как это нередко случается, развитию помогла ошибка или случайность – называть это событие можно как угодно. Важно то, что оно стало значимым шагом для кинематографа. Однажды Мельес снимал на парижской улице, и его камеру заклинило. Починить устройство удалось, но полученные кадры весьма удивили фокусника: люди будто поменялись телами друг с другом и с лошадьми.
                    Дело в том, что после починки камеры она продолжила снимать, но после полной прокрутки пленки два кадра склеились. Тогда Жорж Мельес начал нарочно творить подобные чудеса. Двойная экспозиция – прием, который заключается в том, что на один кадр делают два снимка. В итоге изображения накладываются друг на друга причудливым образом. Этот трюк используют до сих пор, фотографируя на пленку. Своего рода спецэффект – или монтаж.
                    Другой прием – разделенный экран. Закрываете половину кадра, снимаете фильм, затем отматываете пленку обратно, закрываете другую часть – и снимаете еще раз. При показе половины «соединялись» и демонстрировались рядом, словно это единый кадр. Такая техника позволяла актерам играть напротив самих себя. Кстати, этот «фокус» актуален и в наше время. Правда, теперь такой эффект достигается с помощью программ для монтажа – объединяют по половине от двух кадров, снятых в одном и том же месте с одного и того же ракурса.
                    Все это – не единственные находки Мельеса. В 1902 году он продемонстрировал публике свой фильм «Путешествие на Луну», где 15 минут показывают фантастическое исследование небесного тела учеными.
                </p>
            </div>
        </div>
    </div>
{% endblock %}