{% extends 'shablon.html' %}

{% block title %}
О Нас
{% endblock %}

{% block aside %}

{% endblock %}

{% block body %}
    <div class="container">
        <div class="suti">
            <h3>О Нас</h3>
            <p>страница расказивающая о сайте</p>
            <h4>Контакты</h4>
            Телефон:8 800 555 35 35 E-mail:<a href='mailto:admin@mail.ru'>admin@mail.ru</a>
            Телефон2:(505) 148-3369 G-mail:<a href='mailto:admin@gmail.com'>admin@gmail.com</a>
            <p><b><a href="http://www.savewalterwhite.com/">О разработчике</a></b></p></div>
    </div>
{% endblock %}